{% extends 'base.html.twig' %}

{% block title %}Vendedor index{% endblock %}

{% block body %}
    <h1>Vendedor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for vendedor in vendedors %}
            <tr>
                <td>{{ vendedor.nome }}</td>
                <td>{{ vendedor.email }}</td>
                <td>
                    <a href="{{ path('vendedor_show', {'id': vendedor.id}) }}">show</a>
                    <a href="{{ path('vendedor_edit', {'id': vendedor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vendedor_new') }}">Create new</a>
{% endblock %}
