{% extends 'base.html.twig' %}

{% block title %}Carro index{% endblock %}

{% block body %}
    <h1>Carro index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carro in carros %}
            <tr>
                <td>{{ carro.id }}</td>
                <td>{{ carro.modelo }}</td>
                <td>
                    <a href="{{ path('carro_show', {'id': carro.id}) }}">show</a>
                    <a href="{{ path('carro_edit', {'id': carro.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carro_new') }}">Create new</a>
{% endblock %}
